.GlobalApp{

  text-align: center;
  display: flex;
  flex-direction: column;

}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 40px
}

:root {
  --blue: #5C48D3
  }
  /* p {
    color: var(--text-color);
    } */

.B1{
margin: 20px;  
width: 150px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
}



.Left{
/* border: solid rgb(245, 16, 16) 3px; */
display: flex;
flex-direction: column;
width: 50%;
align-items:center;
justify-content: center;
}

.Right{
  display: flex;
width: 50%;
align-items:center;
justify-content: center;
/* border: solid black 3px; */
  }

  .buttone1{
    width: 120px;
    height: 80px;
    border-radius: 8px;
    margin-right: 10px;
  }

  .buttone2{
    width: 120px;
    height: 80px;
    border-radius: 8px;

  }

  .buttone3{
    width: 250px;
    height: 150px;
    border-radius: 8px;
    color: aliceblue;
  }

  .B1{
width: 300px;
background: none;
border: none;
  }

  .B2{
    background: none;
    border: none;
  }

  button {
    font-family: 'Poppins', sans-serif;
    font-size:xx-large;
  }

  span {
    font-weight: bold;
  }

header{
  text-align: left;
  border-bottom: solid grey 1px;

}
footer{
margin-top: 50%;
}